<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="css/messageStyle.css">

	<!--<meta http-equiv="refresh" content="5">-->
</head>

<body>

<div class="top-bar">
	<form class="chat-form" action="/logout" method="post" enctype="multipart/form-data">
	<a href="/">
		<img class="logo" src="https://image.ibb.co/cxd0qy/Li_chat.png", alt="Lichat Logo"></a>
		<input class="chat-message" type="submit" value="Log Out"/></form>
	</div>

<html>
<body>


	<div id="online" class="online-users">
		<h1>Online Users</h1>
		{% for user in onlineUsers %}
		<form id="selectUser" action="/showMessages" method="post" enctype="multipart/form-data">
			<button name="username" type="submit" value={{onlineUsers[user]['username']}}>{{onlineUsers[user]['username']}}</button>
		</form>
		{% endfor %}
	</div>

	<div class="chatbox">
		<div id = "chatlog" class="chatlogs">
			{% for msg in messages %}
				{% if msg[1] == user %}
					<div class="chat friend">
						<img class="user-photo" src="{{otherPic}}">
						<p class="chat-message">{{msg[3]}}</p>
					</div>
				{% else %}
					<div class="chat self">
						<img class="user-photo" src="{{profilePic}}">
						<p class="chat-message">{{msg[3]}}</p>
					</div>
				{% endif %}

			{% endfor %}
		</div>
		<form action="/sendMessage" method="post" enctype="multipart/form-data">
		<div class="chat-form">
            <input type="text" name="message" autofocus /><b>
			<button id="sendButton" name="recipient" type="submit" value={{sender}}>Send</button></form>

        </div>
	</div>
</body>

</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script  src="css/messaging.js"></script>
</body>


</html>